---

---

<div
    class="relative z-50 bg-brand-pink text-brand-dark text-center py-4 font-body font-bold text-sm md:text-base px-4"
>
    It’s an Art Party is for Sale! Please contact me{" "}
    <a href="/contact" class="underline hover:text-white transition"> here </a>{
        " "
    }
    if interested.
</div>
